# Folder view configuration files
.DS_Store

# Thumbnail cache files
Thumbs.db

# Dependencies
node_modules

## Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
.env
.eslintcache
/assets
package-lock.json
