[submodule "assets/images"]
	path = assets/images
	url = https://github.com/iannar/images.git
	branch = master
[submodule "assets/mass"]
	path = assets/mass
	url = https://github.com/iannar/mass.git
	branch = master
[submodule "assets/psalms"]
	path = assets/psalms
	url = https://github.com/iannar/psalms.git
	branch = master
