# Folder view configuration files
.DS_Store

# Thumbnail cache files
Thumbs.db

# Sensitive files
.env

# Dependencies
node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Others
.eslintcache
/assets
package-lock.json
