:root {
  --r-background-color: #f7f3de;
  --r-main-font: 'PingFang SC', 'Microsoft YaHei', STHeiti, 'Open Sans', sans-serif;
  --r-heading-font: 'PingFang SC', 'Microsoft YaHei', STHeiti, 'Open Sans', sans-serif;
  --r-heading-color: red;
}

.reveal strong {
  color: red;
}

.reveal p {
  font-size: 1.5em;
  text-align: left;
}

.reveal p.center {
  text-align: center;
}

.reveal p.right {
  text-align: right;
}

.reveal section img {
  border: 0;
}

.reveal section#notice p {
  font-size: 1.8em;
  color: red;
}
